<div class="header-container">
  <div class="header-inner-container">
    
    <div class="logo-container">
      <div class="logo-inner-container">
          MFSI HMS
      </div>
    </div>

    <div class="mid-container">
      <div class="mid-inner-container">

      </div>
    </div>

    <div class="user-menu-container">
      <div class="user-inner-inner-container">
        Hi Faisal &nbsp;&nbsp;<i class="fa fa-sign-out hms-icon" title="Logout" (click)="doLogout()"></i>
      </div>
    </div>

  </div>
</div>
