<app-header></app-header>
<div class="left-full-width">
  <app-left-nav></app-left-nav>

  <div class="content-panel-container">
    <div class="content-panel-inner-container">

      <!-- HOSPITAL GENERAL INFO -->
      <fieldset>
        <legend>General Information</legend>

        <div style="float: left; width: 100%; max-height: 150px; overflow-y: auto;">
          <div class="left-full-width">

            <div class="row">
              <div class="col-sm-3 pull-left">
                <div class="left-full-width">
                  <div class="left-full-width">
                    <div>Name</div>
                    <input type="text" class="add-input-box" [(ngModel)]="hospital.name">
                  </div>
                  <div class="pull-left">
                    <span class="auth-message-below-inputs hospital-name-auth-message"></span>
                  </div>
                </div>
              </div>

              <div class="col-sm-3 pull-left">
                <div class="left-full-width">
                  <div class="left-full-width">
                    <div>Address</div>
                    <input type="text" class="add-input-box" [(ngModel)]="hospital.address">
                  </div>
                  <div class="pull-left">
                    <span class="auth-message-below-inputs hospital-address-auth-message"></span>
                  </div>
                </div>
              </div>

              <div class="col-sm-3 pull-left">
                <div class="left-full-width">
                  <div class="left-full-width">
                    <div>Contact</div>
                    <input type="text" class="add-input-box" [(ngModel)]="hospital.contact">
                  </div>
                  <div class="pull-left">
                    <span class="auth-message-below-inputs hospital-contact-auth-message"></span>
                  </div>
                </div>
              </div>

              <div class="col-sm-3 pull-left">
                <div class="left-full-width">
                  <div class="left-full-width">
                    <div>Email</div>
                    <input type="text" class="add-input-box" [(ngModel)]="hospital.email">
                  </div>
                  <div class="pull-left">
                    <span class="auth-message-below-inputs hospital-email-auth-message"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>


      <!-- SPECIALITY -->
      <fieldset>
        <legend>Speciality</legend>

        <div class="left-full-width">
          <div class="row">
            <div class="col-sm-3 label">Name</div>
            <div class="col-sm-9 label">Description</div>
          </div>
        </div>

        <div style="float: left; width: 100%; max-height: 150px; overflow-y: auto;">
          <div class="left-full-width">

            <div class="row">
              <div class="col-sm-3 pull-left">
                <div class="left-full-width">
                  <div class="left-full-width">
                    <input type="text" class="add-input-box" [(ngModel)]="hospital.speciality.name">
                  </div>
                  <div class="pull-left">
                    <span class="auth-message-below-inputs speciality-name-auth-message"></span>
                  </div>
                </div>
              </div>

              <div class="col-sm-9 pull-left">
                <div class="left-full-width">
                  <div class="left-full-width">
                    <input type="text" class="add-input-box" [(ngModel)]="hospital.speciality.description">
                  </div>
                  <div class="pull-left">
                    <span class="auth-message-below-inputs speciality-description-auth-message"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>



      <!-- ROOM -->
      <fieldset>
        <legend>Rooms</legend>

        <div class="left-full-width">
          <div class="row">
            <div class="col-sm-2 label">Room Number</div>
            <div class="col-sm-2 lable">Charges Per Day</div>
            <div class="col-sm-3 label">Total Beds</div>
            <div class="col-sm-3 label">Available Beds</div>
          </div>
        </div>

        <div style="float: left; width: 100%; max-height: 150px; overflow-y: auto;">
          <div class="left-full-width" *ngFor="let room of hospital.rooms; let i = index">

            <div class="row">
              <div class="col-sm-2 pull-left">
                <div class="left-full-width">
                  <div class="left-full-width">
                    <input type="text" class="add-input-box" [(ngModel)]="room.roomNumber">
                  </div>
                  <div class="pull-left">
                    <span class="auth-message-below-inputs room-name-auth-message"></span>
                  </div>
                </div>
              </div>

              <div class="col-sm-2 pull-left">
                <div class="left-full-width">
                  <div class="left-full-width">
                    <input type="text" class="add-input-box" [(ngModel)]="room.chargesPerDay">
                  </div>
                  <div class="pull-left">
                    <span class="auth-message-below-inputs room-charges-per-day-auth-message"></span>
                  </div>
                </div>
              </div>

              <div class="col-sm-3 pull-left">
                <div class="left-full-width">
                  <div class="left-full-width">
                    <input type="text" class="add-input-box" [(ngModel)]="room.totalBeds">
                  </div>
                  <div class="pull-left">
                    <span class="auth-message-below-inputs room-total-beds-auth-message"></span>
                  </div>
                </div>
              </div>

              <div class="col-sm-3 pull-left">
                <div class="left-full-width">
                  <div class="left-full-width">
                    <input type="text" class="add-input-box" [(ngModel)]="room.availableBeds">
                  </div>
                  <div class="pull-left">
                    <span class="auth-message-below-inputs room-available-beds-auth-message"></span>
                  </div>
                </div>
              </div>

              <div *ngIf="i == 0" class="col-sm-2 pull-left" (click)="addInputBox(hospital.rooms.length, 'rooms')">
                <div class="left-full-width">
                  <div class="label"></div>
                  <div class="hms-btn left-full-width">
                    <span>Add More</span>
                  </div>
                </div>
              </div>

              <div *ngIf="i != 0" class="col-sm-2 pull-left" (click)="removeInputBox($event,'rooms', room)">
                <div class="left-full-width">
                  <div class="label"></div>
                  <div class="hms-btn left-full-width" style="background-color:red;">
                    <span>Remove</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>


      <!-- DEPARTMENT -->
      <fieldset>
        <legend>Departments</legend>

        <div class="left-full-width">
          <div class="row">
            <div class="col-sm-3 label">Name</div>
            <div class="col-sm-3 label">Facilities</div>
            <div class="col-sm-3 label">Description</div>
            <div class="col-sm-3"></div>
          </div>
        </div>

        <div style="float: left; width: 100%; max-height: 150px; overflow-y: auto;">
          <div class="left-full-width" *ngFor="let department of hospital.departments; let i = index">

            <div class="row">
              <div class="col-sm-3 pull-left">
                <div class="left-full-width">
                  <div class="left-full-width">
                    <input type="text" class="add-input-box" [(ngModel)]="department.name">
                  </div>
                  <div class="pull-left">
                    <span class="auth-message-below-inputs department-name-auth-message"></span>
                  </div>
                </div>
              </div>

              <div class="col-sm-3 pull-left">
                <div class="left-full-width">
                  <div class="left-full-width">
                    <input type="text" class="add-input-box" [(ngModel)]="department.facilities">
                  </div>
                  <div class="pull-left">
                    <span class="auth-message-below-inputs department-facilities-auth-message"></span>
                  </div>
                </div>
              </div>

              <div class="col-sm-4 pull-left">
                <div class="left-full-width">
                  <div class="left-full-width">
                    <input type="text" class="add-input-box" [(ngModel)]="department.description">
                  </div>
                  <div class="pull-left">
                    <span class="auth-message-below-inputs department-description-auth-message"></span>
                  </div>
                </div>
              </div>

              <div *ngIf="i == 0" class="col-sm-2 pull-left" (click)="addInputBox(hospital.departments.length, 'departments')">
                <div class="left-full-width">
                  <div class="label"></div>
                  <div class="hms-btn left-full-width">
                    <span>Add More</span>
                  </div>
                </div>
              </div>

              <div *ngIf="i != 0" class="col-sm-2 pull-left" (click)="removeInputBox($event,'departments', department)">
                <div class="left-full-width">
                  <div class="label"></div>
                  <div class="hms-btn left-full-width" style="background-color:red;">
                    <span>Remove</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>




      <!-- LABORATORIES -->
      <fieldset>
        <legend>Laboratories</legend>

        <div class="left-full-width">
          <div class="row">
            <div class="col-sm-3 label">Name</div>
            <div class="col-sm-7 label">Medical Tests</div>
          </div>
        </div>

        <div style="float: left; width: 100%; max-height: 150px; overflow-y: auto;">
          <div class="left-full-width" *ngFor="let laboratory of hospital.laboratories; let i = index">

            <div class="row">
              <div class="col-sm-3 pull-left">
                <div class="left-full-width">
                  <div class="left-full-width">
                    <input type="text" class="add-input-box" [(ngModel)]="laboratory.name">
                  </div>
                  <div class="pull-left">
                    <span class="auth-message-below-inputs laboratory-name-auth-message"></span>
                  </div>
                </div>
              </div>


              <div *ngIf="i == 0" class="col-sm-2 pull-left" (click)="addInputBox(i, 'laboratories')">
                <div class="left-full-width">
                  <div class="label"></div>
                  <div class="hms-btn left-full-width">
                    <span>Add More</span>
                  </div>
                </div>
              </div>

              <div *ngIf="i != 0" class="col-sm-2 pull-left" (click)="removeInputBox($event,'laboratories', laboratory)">
                <div class="left-full-width">
                  <div class="label"></div>
                  <div class="hms-btn left-full-width" style="background-color:red;">
                    <span>Remove</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </fieldset>


      <div class="hms-btn left-full-width" (click)="addHospital()">
        <span>Add Hospital</span>
      </div>
    </div>

  </div>

</div>

<!--TODO: Shah Faisal - Add the following Medical Test To Laboratories -->

<!-- 

                <fieldset>
                  <legend>Medical Tests</legend>
          
                  <div class="left-full-width">
                    <div class="row">
                      <div class="col-sm-2 label">Name</div>
                      <div class="col-sm-3 label">Type</div>
                      <div class="col-sm-3 label">Description</div>
                      <div class="col-sm-2 label">Charges</div>
                    </div>
                  </div>
          
                  <div style="float: left; width: 100%; max-height: 150px; overflow-y: auto;">
                    <div class="left-full-width" *ngFor="let medicalTest of laboratory.medicalTests; let i2 = index">
          
                      <div class="row">
                        <div class="col-sm-2 pull-left">
                          <div class="left-full-width">
                            <div class="left-full-width">
                              <input type="text" class="add-input-box" [(ngModel)]="medicalTest.name">
                            </div>
                            <div class="pull-left">
                              <span class="auth-message-below-inputs medical-test-name-auth-message"></span>
                            </div>
                          </div>
                        </div>
          
                        <div class="col-sm-3 pull-left">
                          <div class="left-full-width">
                            <div class="left-full-width">
                              <input type="text" class="add-input-box" [(ngModel)]="medicalTest.type">
                            </div>
                            <div class="pull-left">
                              <span class="auth-message-below-inputs medical-test-type-auth-message"></span>
                            </div>
                          </div>
                        </div>
          
                        <div class="col-sm-3 pull-left">
                          <div class="left-full-width">
                            <div class="left-full-width">
                              <input type="text" class="add-input-box" [(ngModel)]="medicalTest.description">
                            </div>
                            <div class="pull-left">
                              <span class="auth-message-below-inputs medical-test-description-auth-message"></span>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-2 pull-left">
                          <div class="left-full-width">
                            <div class="left-full-width">
                              <input type="text" class="add-input-box" [(ngModel)]="medicalTest.chargesPerDay">
                            </div>
                            <div class="pull-left">
                              <span class="auth-message-below-inputs medical-test-charges-per-day-auth-message"></span>
                            </div>
                          </div>
                        </div>
          
                        <div *ngIf="i2 == 0" class="col-sm-2 pull-left" (click)="addInputBox(i, 'medicalTests', i2)">
                          <div class="left-full-width">
                            <div class="label"></div>
                            <div class="hms-btn left-full-width">
                              <span>Add More</span>
                            </div>
                          </div>
                        </div>
          
                        <div *ngIf="i2 != 0" class="col-sm-2 pull-left" (click)="removeInputBox($event,'medicalTests', medicalTest)">
                          <div class="left-full-width">
                            <div class="label"></div>
                            <div class="hms-btn left-full-width" style="background-color:red;">
                              <span>Remove</span>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </fieldset>

-->