<app-header></app-header>
<div class="left-full-width">
    <app-left-nav></app-left-nav>

    <div class="content-panel-container">
        <div class="content-panel-inner-container">
           
            <div class="custom-box-container left-full-width">
                <div class="left-full-width row">
                   

                    <div class="col-sm-4">
                        <div class="custom-box ">
                                Hi asdkf laskd fkas dfk asd;lfk asdkf aslkdf alksd fas;k dflask falsdk fla s;df sa;lkdf aslkdfj;adskl fasklf lkadsjf lk
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="custom-box ">
                                Hi
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="custom-box ">
                                Hi
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    
</div>