<div class="main-div">

  <div class="left-margin-to-login"></div>
  
  <div class="login-box-container">
    <div class="head">Login</div>
    <div class="login-box-inner-container">

      <div class="label">User Name</div>
      <input type="text" class="input-box" 
              [(ngModel)]="login.userCode"/>
      
      <div class="label">Password</div>
      <input type="password" class="input-box" 
             [(ngModel)]="login.passCode" 
             (keyup)="$event.which == '13' && doLogin()"/>

      <div class="link" (click)="forgotPassword()">Forgot Password?</div>

      <div class="button" (click)="doLogin()">Login</div>
    </div>
  </div>

</div>
