<div class="left-nav-container">
  <div class="left-nav-inner-container">
  
    <!-- ADMIN LEFT MENU PANEL -->
    <div *ngIf="userRole == 'admin'">
      <div class="left-menu-item-container" (click)="goTo('adminDashboard')">
        <div class="left-menu-item-inner-container">
          <i class="fa fa-dashboard icon"></i><span>Dashboard</span>
        </div>
      </div>

      <div class="left-menu-item-container" (click)="goTo('hospitals')">
        <div class="left-menu-item-inner-container">
          <i class="fa fa-hospital-o icon"></i><span>Hospitals</span>
        </div>
      </div>

      <div class="left-menu-item-container">
        <div class="left-menu-item-inner-container">
          <i class="fa fa-wheelchair icon"></i><span> Patient Payment</span>
        </div>
      </div>

      <div class="left-menu-item-container" (click)="goTo('doctors')">
        <div class="left-menu-item-inner-container">
          <i class="fa fa-stethoscope icon"></i><span>Doctors</span>
        </div>
      </div>
    </div>

    <!-- HEAD LEFT MENU PANEL -->
    <div *ngIf="userRole == 'head'">

    </div>

    <!-- DOCTOR LEFT MENU PANEL -->
    <div *ngIf="userRole == 'doctor'">

    </div>

    <!-- PATIENT LEFT MENU PANEL -->
    <div *ngIf="userRole == 'patient'">

    </div>

  </div>
</div>
