<div class="left-nav-container">
  <div class="left-nav-inner-container">
    
    <!-- <div class="left-menu-toggle-container">
      <div class="left-menu-toggle-inner-container">
        <i class="fa fa-bars"></i>
      </div>
    </div> -->

    <div class="left-menu-item-container" (click)="goTo('adminDashboard')">
      <div class="left-menu-item-inner-container">
        <i class="fa fa-dashboard icon"></i><span>Dashboard</span>
      </div>
    </div>

    <div class="left-menu-item-container" (click)="goTo('hospitals')">
      <div class="left-menu-item-inner-container">
        <i class="fa fa-hospital-o icon"></i><span>Hospitals</span>
      </div>
    </div>

    <div class="left-menu-item-container">
      <div class="left-menu-item-inner-container">
        <i class="fa fa-wheelchair icon"></i><span> Patient Payment</span>
      </div>
    </div>

    <div class="left-menu-item-container">
      <div class="left-menu-item-inner-container">
        <i class="fa fa-stethoscope icon"></i><span>Doctors</span>
      </div>
    </div>

  </div>
</div>
