<app-header></app-header>
<div class="left-full-width">
  <app-left-nav></app-left-nav>

  <div class="content-panel-container">
    
    <!-- Hospital activities icons -->
    <div class="pull-right icons-container">
      <i class="fa fa-plus hms-icon" style="margin-left:20px;" 
         (click)="goTo('addHospital')" title="Add Hospital"></i>
      <i class="fa fa-user hms-icon" style="margin-left:20px;" title="Assign Head"></i>
    </div>


    <!-- Hospital Listing-->
    <div class="content-panel-inner-container">
        <div class="custom-box-container">
          <div class="left-full-width">
            <ag-grid-angular #agGrid style="width: 1620px; height: 800px;" 
                             class="ag-theme-balham"
                             [enableSorting]="true"
                             [enableFilter]="true"
                             [rowData]="rowData" 
                             [columnDefs]="columnDefs"
                             [getRowHeight]="getRowHeight"
                             rowSelection='single'>
            </ag-grid-angular>
          </div>
        </div>
    </div>

  </div>
</div>